apiVersion: apps/v1
kind: Deployment
metadata:
  name: homarr-deployment
  namespace: homarr
  labels:
    app: homarr
spec:
  replicas: 1 # Back to one replica as testing - believe internal DB only likes one.
  revisionHistoryLimit: 2 # Max number of revisions to keep
  selector:
    matchLabels:
      app: homarr
  template:
    metadata:
      labels:
        app: homarr
    spec:
      containers:
      - name: homarr
        image: ghcr.io/homarr-labs/homarr:v1.52.0
        ports:
        - containerPort: 7575
          name: homarr-http
        
        # --- ENVIRONMENT VARIABLES ---
        env:
        # KEEPING THIS: It encrypts your browser sessions/cookies
        - name: SECRET_ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: homarr-secrets
              key: SECRET_ENCRYPTION_KEY
        
        # REMOVED: DATABASE_TYPE, HOST, PORT, NAME, USER, PASSWORD
        # Homarr defaults to SQLite when these are missing.
        
        # --- END OF ENVIRONMENT VARIABLES ---

        volumeMounts:
          - name: homarr-data
            mountPath: /appdata # Keeping this exactly as is since your data is here
        resources:
           requests:
             memory: "128Mi"
             cpu: "100m"
           limits:
             memory: "1024Mi"
             cpu: "750m"
      volumes:
       - name: homarr-data
         persistentVolumeClaim:
          claimName: homarr-pvc